/* TRAVEL CARD */

.travel-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .travel-card {
    --card-text-size: .8rem;
    position: relative;
    display: grid;
    gap: .4em;
    grid-template-areas: 
      "image"
      "infor"
    ;
  
    &::after {
      position: absolute;
      content: '';
      border: 2px solid rgba(136, 136, 136, 0.125);
      border-radius: 20%;
      width: 95%;
      bottom: -1em;
      left: 0;
      right: 0;
      margin-inline: auto;
    }
  }
  
  .travel-card > *:not(img) {
    justify-self: start;
    padding-inline: .75rem;
  }

  .card-info-wrapper {
    grid-area: infor;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .card-map {
    display: flex;
    align-items: center;
    gap: .33em;
  }
  
  .location {
    font-size: var(--card-text-size);
    font-weight: 500;
    letter-spacing: calc(var(--card-text-size) * .17);
  }
  
  .view-map-btn {
    margin-left: .5em;
    font-size: var(--card-text-size);
    color: #918E9B;
  }
  
  .card-title {
    font-size: 1.95rem;
    margin-bottom: .33em;
    text-align: left;
  }
  
  .card-date {
    font-size: var(--card-text-size);
    margin-bottom: .5em;
  }
  
  .card-description {
    text-align: left;
    font-size: var(--card-text-size);
    line-height: calc(var(--card-text-size) * 1.5);
  }
  
  .card-img {
    grid-area: image;
    justify-self: center;
    width: 100%;
    margin-bottom: .5em;

  }

/* MEDIA QUERIES */

@media (min-width: 850px) {
    .travel-card {
        grid-template-areas:
            "image image infor infor"
        ;
    }

    .card-img {
        margin-left: .75em;
        align-self: center;
        border-radius: 6.7px;
    }
  }